@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html, body, h3 {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 2em;
}

header, aside {
  background-color: rgba(180, 220, 255, 0.5);
}

h1, h3 {
  font-family: 'Indie Flower'
}

h1, .tagline {
  color: #47a;
}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: .2em;
}

.nummer {
  background-color: #47a;
  color: #fff;
  font-size: 3em;
  width: 1.2em;
  text-align: right;
  padding: .2em;
}

article {
  padding: 1em;
}

section img {
  max-width: 100%;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside h3 {
  background: #47a;
  padding: 2em;
  color: #fff;
}

aside a {
  text-decoration: none;
  padding: 2em;
  display: block;
}

aside a:hover {
  background: #47a;
  padding: 2em;
  color: #fff;
}

footer {
  background-color: #333;
  color: #eee;
  padding: 2em;
}

@media screen and (min-width: 760px) {
  .afb {
    display: block;
    background-image: url('snorlax.jpg');
    background-size: cover;
    background-position: center center;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "kop kop"
      "t1  t2"
      "t3  t4"
      "t3  t5"
      "afb t6"
      "afb t7"
      "t8 asided"
      "t9 asided"
      "t10 asided"
      "voet voet";
  }

  header {
    grid-area: kop;
  }

  .hond {
    grid-area: t1;
  }

  .kinker {
    grid-area: t2;
  }

  .ziekenhuis {
    grid-area: t3;
  }

  .voetbal {
    grid-area: t4;
  }

  .afb {
    grid-area: afb
  }

  .geen-uitstel {
    grid-area: t5
  }

  .planning {
    grid-area: t6;
  }

  .opruimen {
    grid-area: t7;
  }

  .aandacht {
    grid-area: t8;
  }

  .centraal {
    grid-area: t9;
  }

  .afwisseling {
    grid-area: t10;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: voet;
  }
}
